/* Banner3.css */

/* 기존 스타일 */
.banner3 {
    padding: 6rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E6F3E6;
  }
  
  .banner3-content {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
  }
  
  .banner3-image {
    background-size: cover;
    background-position: center;
    /* width: 546px;
    height: 740px; */
    height: 590px; /* height: 639px; */
    width: 295px;
    margin-left: 3rem;
    border: 2px solid black; /* Add border to the image */
    border-radius: 10px; /* Make the corners rounded */
  }
  
  .banner3-text {
    max-width: 500px;
  }
  
  /* 모바일 화면에서만 스타일 변경 */
  @media (max-width: 1030px) {
    .banner3 {
      padding: 2rem 0;
    }
  
    .banner3-content {
      flex-direction: column;
      text-align: center;
      width: 100%;
      /* position: relative; */
    }
  
    .banner3-image {
      width: 80%;
      height: auto;
      order: 2;
      margin-top: 1rem;
      margin-left: 0;
    }
  
    .banner3-text {
      /* order: 1;
      padding: 1rem;
      width: 100%;
      box-sizing: border-box; */
      /* position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -10%); */
      /* background-color: rgba(255, 255, 255, 0.8); 배경 투명도 추가 */
      /* z-index: 1; */
    }
  
    .banner3-text h1,
    .banner3-text p {
      margin: 0;
      font-size: 1.5rem;
      line-height: 1.2;
    }
  
    .banner3-text p {
      font-size: 1rem;
    }
  }
  