/* EditProfile.css */
.editprofile-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 3em;
    max-width: 800px; /* 최대 너비 설정 */
    margin-left: auto; /* 중앙 정렬 */
    margin-right: auto; /* 중앙 정렬 */
  }
  
  .editprofile-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .editprofile-form {
    display: flex;
    flex-direction: column;
  }
  
  .editprofile-row {
    margin-bottom: 10px;
    margin-right: 1em;
  }
  
  .editprofile-row label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .editprofile-row input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    background-color: #5cb85c;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  /* 반응형 디자인 추가 */
@media (max-width: 768px) {
    .editprofile-container {
      padding: 15px;
      max-width: 90%; /* 작은 화면에서는 최대 너비 90% */
    }
  }
  
  @media (max-width: 480px) {
    .editprofile-container {
      padding: 10px;
      max-width: 100%; /* 더 작은 화면에서는 최대 너비 100% */
    }
  }