
.faq-item {
    /* margin-bottom: 20px; */
    margin: 15px auto;
    width: 33%;
    padding-top: 10px;
  }

  .faq-question,
  .faq-answer {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
  }
  
  .faq-answer:hover,
  .faq-question:hover {
    background-color: #f0f0f0;
  }
  
  .page5555{
    padding-bottom: 30px;
  }
  
  .faq-answer.visible {
    display: block;
  }
  @media (max-width: 1024px) {
    .faq-item {
      width: 50%;  /* 화면이 줄어들면서 FAQ 항목 너비도 조금 줄어듦 */
    }
  }
  
  /* 모바일 디바이스 */
  @media (max-width: 768px) {
    .faq-item {
      width: 70%;  /* 모바일 디바이스에 맞게 최대 너비 확장 */
    }
  
    .faq-question, .faq-answer {
      font-size: 16px;  /* 모바일에서 적절한 폰트 크기 조정 */
      padding: 12px;  /* 조금 더 큰 패딩 제공 */
    }
  }
  
  /* 작은 모바일 디바이스 */
  @media (max-width: 480px) {
    .faq-item {
      width: 100%;  /* 가장 작은 화면에서는 FAQ 항목이 전체 너비를 차지 */
    }
  
    .faq-question, .faq-answer {
      font-size: 14px;  /* 더 작은 화면에서 폰트 크기 줄임 */
      padding: 10px;  /* 패딩 감소 */
    }
  }