.footer-container {
  position: relative;
  width: 100%;
  background-color: #ffffff; 
  color: #5C3A6B;
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.footer-logo img {
  width: 60px; /* 로고 크기 조절 */
  height: auto;
  margin-right: 20px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-link {
  display: block;
  margin: 5px 0;
  color: #5C3A6B;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  margin-right: 10px;
}

.footer-link1 {
  border-right: 1px solid rgb(154, 154, 154);
  padding-right: 10px; 
}

.footer-link:hover {
  color: #883997;
}

.footer-info {
  font-size: 15px;
  color: #5C3A6B;
  text-align: center;
  margin-top: 15px;
}
