/* 공통 스타일 */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #66CC99; /* #f8f9fa */
  position: fixed;
  box-shadow: 0 0 10px #000000e6;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #b8b7b7;
  border-radius: 0px;
  height: 50px;
  left: 50%; /* 왼쪽 끝을 기준으로 50% 이동 */
  transform: translateX(-50%); /* 이동한 만큼 다시 왼쪽으로 이동하여 가운데 정렬 */
}

.div-logo {
  order: 1; /* 로고를 오른쪽으로 정렬 */
  margin-left: 20%; /* 왼쪽의 다른 요소들로부터 로고를 분리 */
}

/* 중간 크기 화면에서 로고 위치 조정 */
@media (max-width: 991px) and (min-width: 768px) {
  .div-logo {
    margin-left: 10%; /* 로고를 왼쪽으로 조금 이동 */
  }
}

/* 모바일 화면에서 로고 위치 조정 */
@media (max-width: 767px) {
  .div-logo {
    margin-left: 1em;; /* 로고를 완전히 왼쪽으로 이동 */
  }
}

.nav-container {
  order: 2; /* 네비게이션을 두 번째 요소로 */
  flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
}

.auth-buttons {
  order: 3; /* 로그인/회원가입 버튼을 네비게이션과 로고 사이에 위치 */
  margin-right: 20%; /* 로고와의 간격 설정 */
  display: flex;
  align-items: center;
}

/* 중간 크기 화면에서 로고 위치 조정 */
@media (max-width: 991px) and (min-width: 768px) {
  .auth-buttons {
    margin-right: 10%; /* 로고와의 간격 설정 */
  }
}

/* 모바일 화면에서 로고 위치 조정 */
@media (max-width: 767px) {
  .auth-buttons {
    margin-right: 1em; /* 로고와의 간격 설정 */
  }
}

.hamburger-menu {
  margin-left: 30px; /* 필요한 간격 추가 */
}

.div-logo img {
  height: 40px; /* 로고 이미지의 크기 조정 */
}

.nav-container ul, .mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  font-weight: 700;
  font-size: 13px;
  justify-content: flex-end; /* Add this line to align items to the right */
}

.nav-container li, .mobile-menu li {
  cursor: pointer;
}

/* 데스크탑 환경 */
.desktop-header .nav-container {
  /* display: flex; */
}

.desktop-header .hamburger-menu {
  display: none;
}

/* 모바일 환경 */
.mobile-header .nav-container {
  display: none;
}

.mobile-header .hamburger-menu {
  font-size: 24px;
  cursor: pointer;
  display: block; /* 모바일에서만 햄버거 메뉴 보이기 */
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  display: block;
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  top: 50px; /* 헤더 바로 아래에 위치 */
  border-top: 1px solid #ccc;
}

.mobile-menu ul {
  flex-direction: column;
  align-items: center;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 6px 16px;
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}

.auth-buttons a {
  color: white;
  text-decoration: none;
}

/* 버튼 스타일 */
.Header-nav {
  background: none;
  border: none;
  color: #333;
}

.Header-loginbtt, .Header-signupbtt {
  background-color: #66CC66;
}

.Header-loginbtt a, .Header-signupbtt a {
  color: white;
  text-decoration: none;
}
