.section-content-Login {
  background-color: #e5f3e6;
  border-radius: 8px;
  box-shadow: 0 0 10px #0000001a;
  margin: 6em auto 3em;
  max-width: 350px;
  padding: 20px;
}

.login-container {
  
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;

    padding-top: 15px;
    /* background-color: #FAE1F6;  */
  }

  .layout {
    width: 100%;
    max-width: 100px;
    
  }
  

  h1 {
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .login-layout{
    margin-top: 5%;
    
  }
  .row {
    /* display: flex;
    justify-content: center; */
    /* margin-left: 38%; */
    
  }

  .section-content-Login .section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;
  }
  
  .login-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000001a;
    padding: 1.5rem 2em;
  }

  .form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }
  
  .form-control {
    border: 1px solid #cdcdcd;
    border-radius: 6px; 
    padding: 12px 20px;
    font-size: 14px;
    width: 80%;
  }
  
  .custom-label {
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .find-group {
    margin: 2.5em 0;
    font-size: 15px;
    display: flex;
    justify-content: center;
    white-space: nowrap; /* 줄 바꿈 방지 */
}
  
.btn-primary {
  width: 100%; 
  border-radius: 7px; 
  padding: 10px 0;
  background-color: #4CAF50;/* #0e787c; */
  border: none;
  margin-top: 1rem;
}
  
.btn-primary:hover {
  background-color: #45a049;
}
  
  .social-login {
    margin-top: 20px;
    text-align: center;
  }
  
  .social-icon a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .social-icon span {
    display: block;
    padding: 5px;
    background-color: #eee;
    border-radius: 4px;
    font-size: 14px;
  }
  .findPd{
    padding-left: 10px;
  }
  
  .login-topbar{
    width: 100%;
    /* background: linear-gradient(135deg, #FBF7F2, #66CC99, #FFDAB9, #98FB98); */
    background-color: #f4f4f4;
    padding: 5px 0px;
    /* margin-left: -3%; */
    color: black;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 50px;
    margin-top: 40px;
  }
  .login-topbar-title{
    width: 8em;
    text-align: center;
    font-size: 30px;
    color: rgb(42, 42, 42);
    padding: 0px 60px;
  }
  @media only screen and (max-width: 768px) {
    /* .login-box {
      width: 80%;
      padding: 30px;
    } */
  }
  
  @media only screen and (max-width: 576px) {
    /* .login-box {
      width: 90%;
      padding: 25px;
      margin-left: -35%;
    } */
  
    .btn-primary {
      margin-left: 0;
    }

    /* .login-layout{
      margin-top: 45%;
    } */

    .find-group a{
      font-size: 14px;
    }

  }

  @media only screen and (max-width: 235px) { 
    .find-group a{
      font-size: 7px;
    }
  }