.qna-page {
  display: flex;
  flex-direction: column;
  align-items: center; /* 모든 자식 요소를 중앙에 정렬 */
  width: 100%;
  max-width: 55%; /* 최대 너비를 900px로 설정 */
  margin: 0 auto; 
  padding: 20px;
  background-color: white;
  border: 1px solid rgb(195, 194, 194);
  border-radius: 15px;
  margin-bottom: 5%;
  
}

.qna-header {
  text-align: center; 
  width: 100%;
}


.qna-options {
  flex-grow: 1;
}
.QnA-HTitle{
  font-size: 50px;
}
.qna-select{
  width: 100px;
  border-radius: 9px;
  padding: 10px;
  margin-right: 10px;
}
.qna-search{
  width: 300px;
  padding: 10px;
  margin-right: 10px;

}

.qna-write-button {
  display: block;
  width: 0 auto;
  padding: 10px 10px 10px 10px;
  background-color: #E9ECEF;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #959696;
}
.qna-write-button:hover{
  background-color: #c6cdd6;
}
.qna-button{
  background-color: #E9ECEF;
  color: rgb(0, 0, 0);
  border: 1px solid #959696;
  padding: 9px 15px 9px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.qna-button:hover{
  background-color: #c6cdd6;
  color: rgb(0, 0, 0);
  border: 1px solid #959696;;
  padding: 9px 15px 9px 15px;
}
.qna-content {
  width: 100%;
  margin-top: 20px;
  /* overflow-x: auto; */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: none; /* 테이블 경계선 제거 */
}

table th,
table td {
  padding: 12px;
  border-left: none;
  border-right: none;
  /* border-bottom: none; */
  text-align: left;
  white-space: nowrap; /* 줄바꿈 방지 */
}

.pagebtt {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagebtt button {
  padding: 6px 18px;
  margin: 0 4px;
  background-color: #66cc99;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.pagebtt button:hover {
  background-color:#47c586;
}
.QnA-tdcss{
  line-height: 4em;
}
.QnA-tdcss td{
  padding: 0 0 0 0;
  font-size: 17px;
}@media (max-width: 1024px) {
  .qna-page {
    padding: 10px;
  }

  .qna-select {
    width: 90px;
    padding: 8px;
  }

  .qna-search {
    width: 200px;
    padding: 8px;
  }

  .qna-write-button {
    padding: 8px;
    margin-left: auto;
    margin-right: 20px;
  }
}

/* 모바일 디바이스 */
@media (max-width: 768px) {
  .qna-page {
    max-width: 100%;
  }

  .qna-header {
    flex-direction: column;
    align-items: center;
  }

  .qna-options {
    flex-direction: column;
    align-items: center;
  }

  .qna-select, .qna-search {

  }

  .qna-button, .qna-write-button {
    width: auto;
  }
}

/* 작은 모바일 디바이스 */
@media (max-width: 480px) {
  /* .qna-select, .qna-search {
    width: 90%; 
  }

  .qna-button, .qna-write-button {
    width: 60%;
  } */
  .qna-button{
    margin-top: 5px;
  }
}