.nav-pills-step {
  display: flex;
  list-style: none;
  padding: 20px;
  justify-content: center;
  align-items: center; 
}

.nav-item {
  background-color: #f0f0f0;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-item.active {
  background-color: #3a3a4a;
  color: white;
}

.num {
  margin-right: 5px;
}

.section2-title {
  border-bottom: 2px solid rgb(122, 120, 120);
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
}

.signup-info {
  width: 500px;
  margin: auto;
  text-align: left;
}

.signup-info div {
  border-bottom: 1px solid rgb(122, 120, 120);
  padding-bottom: 12px;
}

.Section2-container {
  margin-bottom: 10px;
}

.Section2-field {
  margin-top: 7px;
  width: 450px;
  padding: 18px;
  height: 23px;
}

.select-field1 {
  padding: 15px;
  margin: 5px 0 10px 5px;
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px; 
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid rgb(148, 148, 148);
}

.select-field {
  padding: 15px;
}

.error-message {
  color: red;
}

.Section2-field,
.select-field {
  margin-right: 0px;
}

.select-field {
  margin-left: 5px; 
}

.gender-container {
  display: flex;
  justify-content: center;
}

.gender-container label {
  margin-right: 20px;
}

.gender-container input[type="radio"] {
  display: none;
}

.gender-container input[type="radio"] + label {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #c1c0c0;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffffff;
}

.gender-container input[type="radio"]:checked + label {
  background-color: rgb(152, 193, 134);
  color: white;
  font-weight: bold;
}

.Section2-field {
  border-radius: 6px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  outline: none; 
}

.input-email {
  border-top-left-radius: 6px; 
  width: 310px;
  border-bottom-left-radius: 6px; 
  margin-right: 5px;
}

.select-field {
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px; 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.next-button {
  background-color: rgb(113, 168, 90);
  color: rgb(255, 255, 255); 
  border: none; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 10px; 
  margin-top: 20px;
}
.next-button:hover {
  background-color: rgb(128, 184, 104);
}

@media only screen and (max-width: 600px) {
  .gender-container label {
    display: block;
    margin-bottom: 10px;
  }
}
